*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  border: none; 
  outline: none;
}
body{
  width: 100%;
  box-sizing: border-box;
}
header{
  position: relative;
  width: 100%;
  height:600px;
  box-sizing: border-box;

}
.espace{
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: black;
  opacity: 0.6;
  display: none;
}
.espace button{
  float: right;
  margin: 20px;
  font-size: 50px;
  border: none;
  padding: 10px;
  color: white;
  background: none;
}


label .logo{
  font-size: 45px;
  color: white;
  padding: 0 100px;
  line-height: 50px;
  font-weight: bold;
}
nav{
  height: 60px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  background-color: rgba(162, 224, 224, 0.892);
  box-shadow: 0 .5rem  1rem rgba(0, 0, 0, .2);
}
nav ul li{
  display: inline-block;
  margin: 20px 10px;
  line-height: 20px;
}
nav ul li a{
  color: white ;
  font-size: 26px;
}
nav ul li a:hover{
  color:cyan;
  transition:  0.5s ease-in;
}
.search{
  position: relative;
  margin: 5px 20px;
  line-height: 20px;
  /* border: 1px solid red; */
  height: 50px;
  width: 350px;
  padding-left: 20px;
}
.search input{
  position: absolute;
  /* top: 10px; */
  padding: 14px;
  width: 310px;
  font-size: 20px;
  border: none;
}
.search i{
  position: absolute;
  left: 300px;
  top: 12px;
  color: cyan;
  font-size: 20px;
}
.login{
  line-height: 60px;
  font-size: 23px;
  
}
.login a{
  color: white;
}
.login i{
  color: rgba(65, 64, 64, 0.537);
}


.slides {
  width: 100%;
  margin: 0 auto;
}

.img-div{
  /* width:100px; */
  height: 50vh;
  /* margin: 0 15px; */
}

.div1{
  background: url("../images/slide1.jpg") center no-repeat;
  background-size: cover;
}
.text{
  position: absolute;
  top: 30%;
  left: 400px;
}
.text h2 {
  width: 500px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: #333;
  font-size: 50px;
}
.text p{
  width: 450px;
  letter-spacing: 1px;
  color: white;
  font-size: 20px;
}
.text .boutton{
  margin: 20px 10px;
  
}

.boutton .boutton1{
  padding: 16px;
  width: 150px;
  background-color: rgba(162, 224, 224, 0.892);
  border:none ;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.boutton .boutton1:hover{
  color: rgba(162, 224, 224, 0.892); 
  background-color: white;
}
.boutton .boutton2{
  padding: 15px;
  width: 150px;
  border: 2px solid gray;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
}
.boutton .boutton2:hover{
  color:white ; 
  background-color: rgba(162, 224, 224, 0.892);
  border: none;
}

.div2 {
  background: url("../images/slide2.jpg") center no-repeat;
  background-size: cover;
}
section{
  margin-top: 30px;
  width: 100%;
  height: 600px;
  background-color: #e8e8e8;
}
section h2{
  padding: 70px 20px;
  font-size: 50px;
  color:#333 ;
  text-align: center;
}
.paralaxe{
  /* background-image: url('../images/argent2.jpg'); */
 background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.about{
  margin-top: 30px;
  width: 100%;
  height: 500px;


}

.tour{
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
 
}
.texte{
  width: 45%;
  height: 425px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px;
}
.texte h2{
  font-size: 50px;
  color:#333 ;
  
}
.texte p{
  text-align: justify;
  font-size: 20px;
  color:rgb(134, 134, 134) ;
  
}
.texte a{
 background-color: rgba(162, 224, 224, 0.892);
  font-size: 25px;
  width: 160px;
  padding: 15px;
  font-weight: bold;
  color: white;

 
}
.images{
  width: 45%;
  height: 425px;
}
.images img{
  width: 818px;
  height: 425px;
}


@media screen and (max-width: 980px){
  .about{
    height: 800px;
  }
  .tour{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: -40px;
  }
  .texte{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .texte p{
    font-size: 15px;
    color:rgb(134, 134, 134) ;
    text-align: justify;
    width: 600px;
  }
  .images{
    width: 100%;
    height: 180px;
  }
  .images img{
    width: 270px;
    height: 230px;
    padding: 10px;
  }
  
}
.anim{
  display: flex;
 justify-content: center;
 align-items:center ;
 flex-direction: column;

}
.anime{
  display: flex;
  padding: 20px;
  
}
.anime1{
  display: flex;
  padding: 20px;
}
.anim1{
  margin-right: 20px;
}
.anim3{
  margin-right: 20px;
}
#contact{
  width: 100%;
}
.contact{
 
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}
.block1{
  position:relative;
  /* border: 1px solid red; */
  width: 45%;
  height: 530px;
  margin-top: 60px;
  display: flex;
}
.forme{
  width: 400px;
  background-color: white;
  margin-left: 20px;
  height: 484px;
  border-radius: 10px;
}


form.input_text{
  width: 100%;
}
form.input_text label{
  color: grey;
}
form.input_text input{
  width: 85%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid rgb(238, 235, 235);
}
.btn button{
    width: 400px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgba(162, 224, 224, 0.892);
}
.info{
  margin-top: 50px;
  background-color: white;
  margin-left: 60px;
  height: 354px;
  border-radius: 10px;
}
.info .element{
  line-height: 40px;
  margin: 30px;
}
.info .element i{
  font-size: 31px;
}
.info .element span{
  margin-right: 42px;
  color: rgba(162, 224, 224, 0.892);
  font-size: 20px;
  font-weight: bold;
}
.info .element p{
  color:   #898b8b;

}
 
.block2{
  /* border: 1px solid blue; */
  width: 45%;
  height: 500px;
  margin-top: 60px;
}
.block2 iframe{
  width: 800px;
  height: 500px;
}

@media screen and (max-width: 1200px){

  .images{
    width: 60%;
    height: 180px;
  }
  .images img{
    width: 675px;
    height: 430px;
    padding: 10px;
  }
  #contact{
    width: 100%;
    height: 1100px
  }
  .contact{
   height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .block1{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .block1 .forme{
    margin-top: 70px;
    width: 600px;
    height: 480px;
  }
  .block1 .info{
    margin-top: 120px;
  }
  .block1 .forme .input_text textarea{
    width: 510px;
  }.block1 .forme .btn button{
   margin-left: 40px;
  }
  .block1 .forme .btn button:hover{
      color: rgba(162, 224, 224, 0.892);
      background-color: white;
      border: 2px solid rgba(162, 224, 224, 0.892);
  }
  .block2{
    width: 100%;
  }
  .block2 iframe{
    width: 100vw;
  }
}



/* .pied_page{
  
  bottom:200px;
  width:100%;
  padding-top:50px;
  height:50px;
  background-color: rgba(162, 224, 224, 0.892);
   width: 100%;
  height: 100px;
  background-color: rgba(162, 224, 224, 0.892);
  bottom: 0; 
} */

.marche{
  display: flex;
  justify-content: center;
  
}
.encore{
  border: 2px solid rgba(162, 224, 224, 0.892);
  display: flex;
  padding: 40px;
  margin: 20px;
}
.anime{
  display: flex;
  flex-direction: column;
  line-height: 40px;
  color: #333;
  
}
.numero{
  font-size: 130px;
  line-height: 78px;
  font-weight: bold;
  margin-right: 5px;
  font-family: 'Roboto', sans-serif;
  color: rgba(162, 224, 224, 0.892) ;
}

